<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Users.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="Binding1" closeTimeout="00:40:00" openTimeout="00:40:00"
                    receiveTimeout="00:40:00" sendTimeout="00:40:00" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="" binding="netTcpBinding" bindingConfiguration="Binding1"
                contract="ServiceReference1.Iservice" name="NetTcpBinding_Iservice" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Users.Properties.Settings>
            <setting name="ServerNm" serializeAs="String">
                <value>.\s20012</value>
            </setting>
            <setting name="DBNM" serializeAs="String">
                <value>StoreManagement1</value>
            </setting>
            <setting name="UserSql" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PassSql" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="ConnectionHost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HostIP" serializeAs="String">
                <value>net.tcp://192.168.1.115:9002/MyMathService</value>
            </setting>
        </Users.Properties.Settings>
    </userSettings>
</configuration>